{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Hi, there!</h1>
<p>
    Welcome to Treasure Chest, a place for you to keep track of all the treasures you've discovered
    on Reddit.
</p>
<form method="post">
    <fieldset>
        <legend>Click login or register an account to get started</legend>
        <div>
            {{ form.login(class="btn btn-outline-info") }}
            {{ form.register(class="btn btn-outline-warning") }}

        </div>
    </fieldset>
</form>
{% endblock %}