{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block style %}static/css/home.css{% endblock %}

{% block content %}
    <div class="info">
    <h4>
    <strong>Treasure-Chest</strong> lets you see all  the treasures you've discovered
    on Reddit.
    </h4>
    <form method="post">
    <fieldset>
        <legend>Login or register for an account to get started</legend>
        <div>
            {{ form.login(class="btn btn-outline-info") }}
            {{ form.register(class="btn btn-outline-warning") }}

        </div>
    </fieldset>
</form>
</div>

{% endblock %}