{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block style %}static/css/login.css{% endblock %}
{% block content %}
<div>
<form method="post" action="">
    <fieldset>
        <legend>Login</legend>
        <div>
            <div>{{ form.username.label }}</div>
            {{ form.username }}
        </div>
        <div>
           <div>{{ form.password.label }}</div>
            {{ form.password }}
        </div>
        <div>
            {{ form.submit(class="btn btn-outline-info") }}
            <small  class="text-muted">
                {{ form.remember.label}}
                {{ form.remember }}
            </small>
        </div>
    </fieldset>
</form>
<a href="{{ url_for('homepage') }}">
    <button class="btn btn-outline-dark">Home</button>
</a>
</div>
{% endblock %}