{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block style %}static/css/login.css{% endblock %}
{% block content %}

<div class="container">
    <h1>
    Login
    </h1>
 <div id="form">
<form method="post" action="">
    {{ form.hidden_tag() }}
        <div>
            {{ form.email_or_username }}
        </div>
        <div>
            {{ form.password }}
        </div>
        <div id="button">
            {{ form.submit(class="btn btn-outline-info") }}
            <small  class="text-muted">
                {{ form.remember.label}}
                {{ form.remember }}
            </small>
        </div>
</form>
</div>
</div>
<a href="{{ url_for('homepage') }}">
    <button class="btn btn-outline-dark">Home</button>
</a>

{% endblock %}