{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block style %}static/css/register.css{% endblock %}

{% block content %}
<div>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Register Today</legend>
                <div>
                    {{ form.username }}
                </div>
                <div>
                    {{ form.email }}
                </div>
                <div>
                    {{ form.password }}
                </div>
                <div>
                    {{ form.confirm_password }}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="btn btn-outline-warning") }}
            </div>
        </form>
    </div>
    <div>
        <small class="text-muted">
            Already have an account? <a href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>

<a href="{{ url_for('homepage') }}">
    <button class="btn btn-outline-dark">Home</button>
</a>
{% endblock %}